.m-apartmentroomslider {
    & img {
        width: 100%;
        background-color: #fbfbfb;
    }

    & .point {
        display: inline-block;
        background: #d8d8d8;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 10px;
    }

    & .ring {
        display: inline-block;
        background: #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #000;
        margin: 0 10px;
    }

    &-bullet {
        background-color: #fbfbfb;
        padding-top: 25px;
        height: 80px;
    }
}