.m-apartmentroomslider {
    background-color: #fbfbfb;

    & img {
        width: 100%;
        background-color: #fbfbfb;
    }

    & .point {
        display: inline-block;
        background: #d8d8d8;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 10px;
        border: 1px solid transparent;
        box-sizing: content-box;
    }

    & .ring {
        background: #fff;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #000;
        margin: 0 10px;
    }

    &-bullet {
        // flex-shrink 不收缩
        flex: 0 0 auto;
        background-color: #fbfbfb;
        margin-top: 25px;
        height: 60px;
    }
}