@import (reference) '~styles/lib.less';

// 房源详情各moudle的title
.s-housedetail-comptitle {
    margin-bottom: 40px;
    font-family: PingFangSC-Medium;
    color: #000;
    .font-size(40);
}

// 房源详情各module介绍文字
.s-housedetail-introtext {
    font-family: PingFangSC-Regular;
    color: #999;
    .font-size(28);
}

.u-housedetail-partline {
    display: block;
    height: 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
}

.g-housedetail-module-padding {
    padding: 0 40px;
}
