.m-pubimgupload {
    display: flex;
    flex-wrap: wrap;

    & .item {
        width: 25%;
        & .img-wrap {
            width: 90%;    
            position: relative;
            margin: 0 auto;
            position: relative;
            & img {
                width: 100%;
                margin: 0 auto;
            }
        }

        .delete {
            position: absolute;
            display: inline-block;
        }
    }

    & .add-image {
        width: 25%;
        height: 160px;
        background-color: #ffffff;
        border: 2px dotted #d8d8d8;
        position: relative;
        box-sizing: border-box;
    }
}