@import (reference) '~styles/lib.less';

.m-contactbutler-btn {
    position: fixed;
    bottom: 54px;
    left: 50%;
    padding: 18px 46px;
    border-radius: 67px;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.23);
    color: #fff;
    background-color: #f38d39;
    transform: translate(-50%, 0);
    font-family: PingFangSC-Medium;
    z-index: 90;
    .font-size(34);
}

.m-contactbutler-dialog {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: inherit;
    transform: translate(-50%, -50%);
    width: 580px;
    border-radius: 20px;

    &-img {
        width: 85px;
        height: 85px;
        border-radius: 50%;
    }

    &-name {
        margin-left: 40px;
        font-family: PingFangSC-Medium;
        color: #333;
        .font-size(40);
    }

    &-tel-wrap {
        margin-top: 40px;
    }

    &-extTel-wrap {
        margin-top: 16px;
    }

    &-tel {
        font-family: PingFangSC-Medium;
        color: #666;
        .font-size(34);
    }

    &-tel-text {
        color: #666;
        font-family: PingFangSC-Medium;
        .font-size(34);
    }

    &-extTel {
        color: #f38d39;
    }

    &-extTel-text {
        .font-size(28);
    }

    &-tip {
        margin-top: 8px;

        .icon {
            display: inline-block;
            width: 28px;
            height: 28px;
            margin-right: 12px;
            line-height: 28px;
            border-radius: 14px;
            text-align: center;
            vertical-align: middle;
            color: #ff8d09;
            background: #ffe2c9;
        }

        .text {
            vertical-align: middle;
            color: #666666;
            .font-size(24);
        }
    }
    
    &-body {
        box-sizing: border-box;
        padding: 70px 0 52px 40px;
    }

    &-footer {
        position: relative;
        text-align: center;
        font-size: 0px;

        &::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 48px;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #eaeaea;
            transform: translate(-50%, -50%);
        }

        .line {
            width: 520px;
            height: 1px;
            border-top: 1px solid #eaeaea;
        }

        .text {
            width: 50%;
            line-height: 108px;
            text-align: center;
            color: #f38d39;
            .font-size(34);

            &.text-nocontact {
                color: #999;
            }
        }
    }
}
