.m-apartmentintro {
    height: 120px;
    & img {
        width: 100px;
        height: 100px;
        flex: 0.1;
    }

    & .intro-wrap {
        flex: 0.7;
    }

    & .score-wrap {
        flex: 0.2;
    }
}