{
    "presets": [
        ["es2015", {
        }],
        "stage-0",
        "react"
    ],
    "env": {
        "dev": {
            "plugins": [
            ]
        },
    },
    "plugins": [
    [
        "transform-runtime", {
        },
        "@babel/plugin-syntax-flow",
        "@babel/plugin-transform-flow-strip-types",
    ],
    "add-module-exports"
    ]
}
