.g-houselist {
    padding-top: 88px;

    &-head {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 10;
    }
}

.f-list-addpadding {
    padding-top: 174px;
}
