.g-houselist {
    padding-top: 88px;

    &-head {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 10;
    }

    &-fixbottom {
        position: fixed;
        width: 100%;
        height: 84px;
        bottom: 80px;

        .fixbottom-opennative {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            vertical-align: middle;
        }

        .fixbottom-backtop {
            position: absolute;
            right: 34px;
            vertical-align: middle;
        }
    }

}

.f-list-addpadding {
    padding-top: 174px;
}
