.m-apartmentshop {
    box-sizing: border-box;
    padding-bottom: 15px;

    &-wrapper {
        padding: 15px 0 15px 30px;
        background: #f9f9f9;
    }

    &-list {
        height: 570px;
        white-space: nowrap;
        font-size: 0;

        .list-item {
            margin-right: 35px;
        }
    }

    & .m-shopitem {
        width: 600px;
    }
}