@import (reference) '~styles/lib.less';

.g-commentinput {

    & .main {
        padding: 0 34px;
    }

    &-title {
        .font-size(40);
        font-weight: bold;
    }

    &-head-right {
        flex: 1;
    }

    &-submit {
        display: flex;
        align-items: center;

        color: #F38D39;
        .font-size(28);
    }

    & .rating-title {
        .font-size(34);
        color: #000000;
        margin-right: 30px;        
    }

    & .stars-wrap {
        height: 100px;
        .stars {
            span {
                .font-size(48) !important;
                margin-right: 20px !important;
            }
        }
    }
}