.f-display-block {
    display: block;
}

.f-display-inlineblock {
    display: inline-block;
}

.f-vertical-middle {
    vertical-align: middle;
}

.f-float-right {
    float: right;        
}

.f-clear-float {
    clear: both;
    overflow: hidden;
}

.f-singletext-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
