// css样式重置
* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    // font-family: "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Helvetica", "HanHei SC", "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;
    color: #404040;
    letter-spacing: .2px;
}
a {
    color: #000;
	text-decoration: none;
}
p {
    line-height: 1.45rem;
    font-size: .89rem;
    color: rgba(0, 0, 0, 0.75);
}
h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif
}

