@import (reference) '~styles/lib.less';

.m-commentcard {
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.10);
    border-radius: 10px;
    background: #FFFFFF;
    margin: 0 20px;

    & .close {
        padding: 0 15px;
        text-align: right;
        color: #DBDBDB;
        height: 40px;

        & .icon-small-close {
            .font-size(40);
        }
    }

    & .content {
        height: 150px;
        align-items: flex-start;
        padding: 20px 0;

        & .tip {
            color: #000;
            .font-size(32);
        }
    
        & .rent {
            color: #999999;
            .font-size(28);
        }
    }
}