@import (reference) '~styles/lib.less';

.m-mecoupon {
    &-nav {
        width: 400px;
        margin: 0 auto;
        padding: 16px 0;
    }

    &-navitem {
        padding-bottom: 18px;
        line-height: 28px;
        color: #999;
        .font-size(28);

        &.active {
            color: #000;
            font-family: PingFangSC-Medium;
        }
    }

    &-content {
        background: #f5f5f5;
    }
}
