.m-tabs {
    &-content {
        display: block;

        .content-item {
            &.content-item-active {

            }
        }
    }

    &-nav {
        display: flex;
        justify-content: space-around;

        .nav-item {
        }
    }
}
