.m-tabs {
    &-content {
        display: block;

        .content-item {
            &.active {

            }
        }
    }

    &-nav {
        display: flex;
        justify-content: space-around;

        .nav-item {
        }
    }
}

.m-tabs-vertical {
    display: flex;
    flex-direction: row;

    &-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 250px;
    }

    &-content {
        display: flex;
        flex: 1;

        .content-item {
            display: flex;
        }
    }
}
