.g-shoplist {
    &-fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 10;
    }

    &-padding-top {
        padding-top: 176px;
    }

    &-no-head {
        padding-top: 84px;
    }
}
