@import (reference) '~styles/lib.less';

.m-indexrecommend {
    &-title {
        margin: 0px 0px 36px 40px;
        font-family: PingFangSC-Medium;
        color: #000;
        .font-size(40);
    }

    &-wrapper {
        padding-left: 30px;
    }

    &-list {
        height: 180px;
        white-space: nowrap;
        background: #f8f8f8;
        font-size: 0;

        .list-item {
            margin-right: 35px;

            .item-img {
                width: 280px;
                height: 180px;
                border-radius: 10px;
                box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
}
